<h1>All restaurants</h1>

<% @restaurants.each do |restaurant| %>
<ul>
  <li><%= link_to restaurant.name, restaurant_path(restaurant.id) %></li>
</ul>

<% end %>

  <p><%= link_to "Toi, aussi crée ton resto!", new_restaurant_path %></p>
